ad RCDATA "countryFlags\ad.png"
ae RCDATA "countryFlags\ae.png"
af RCDATA "countryFlags\af.png"
ag RCDATA "countryFlags\ag.png"
ai RCDATA "countryFlags\ai.png"
al RCDATA "countryFlags\al.png"
am RCDATA "countryFlags\am.png"
ao RCDATA "countryFlags\ao.png"
aq RCDATA "countryFlags\aq.png"
ar RCDATA "countryFlags\ar.png"
as RCDATA "countryFlags\as.png"
at RCDATA "countryFlags\at.png"
au RCDATA "countryFlags\au.png"
aw RCDATA "countryFlags\aw.png"
ax RCDATA "countryFlags\ax.png"
az RCDATA "countryFlags\az.png"
ba RCDATA "countryFlags\ba.png"
bb RCDATA "countryFlags\bb.png"
bd RCDATA "countryFlags\bd.png"
be RCDATA "countryFlags\be.png"
bf RCDATA "countryFlags\bf.png"
bg RCDATA "countryFlags\bg.png"
bh RCDATA "countryFlags\bh.png"
bi RCDATA "countryFlags\bi.png"
bj RCDATA "countryFlags\bj.png"
bl RCDATA "countryFlags\bl.png"
bm RCDATA "countryFlags\bm.png"
bn RCDATA "countryFlags\bn.png"
bo RCDATA "countryFlags\bo.png"
bq RCDATA "countryFlags\bq.png"
br RCDATA "countryFlags\br.png"
brl RCDATA "countryFlags\brl.png"
bs RCDATA "countryFlags\bs.png"
bt RCDATA "countryFlags\bt.png"
bv RCDATA "countryFlags\bv.png"
bw RCDATA "countryFlags\bw.png"
by RCDATA "countryFlags\by.png"
bz RCDATA "countryFlags\bz.png"
ca RCDATA "countryFlags\ca.png"
cc RCDATA "countryFlags\cc.png"
cd RCDATA "countryFlags\cd.png"
cf RCDATA "countryFlags\cf.png"
cg RCDATA "countryFlags\cg.png"
ch RCDATA "countryFlags\ch.png"
ci RCDATA "countryFlags\ci.png"
ck RCDATA "countryFlags\ck.png"
cl RCDATA "countryFlags\cl.png"
cm RCDATA "countryFlags\cm.png"
cn RCDATA "countryFlags\cn.png"
co RCDATA "countryFlags\co.png"
cr RCDATA "countryFlags\cr.png"
cu RCDATA "countryFlags\cu.png"
cv RCDATA "countryFlags\cv.png"
cw RCDATA "countryFlags\cw.png"
cx RCDATA "countryFlags\cx.png"
cy RCDATA "countryFlags\cy.png"
cz RCDATA "countryFlags\cz.png"
de RCDATA "countryFlags\de.png"
dj RCDATA "countryFlags\dj.png"
dk RCDATA "countryFlags\dk.png"
dm RCDATA "countryFlags\dm.png"
do RCDATA "countryFlags\do.png"
dz RCDATA "countryFlags\dz.png"
ec RCDATA "countryFlags\ec.png"
ee RCDATA "countryFlags\ee.png"
eg RCDATA "countryFlags\eg.png"
eh RCDATA "countryFlags\eh.png"
eo RCDATA "countryFlags\eo.png"
er RCDATA "countryFlags\er.png"
es RCDATA "countryFlags\es.png"
et RCDATA "countryFlags\et.png"
eu RCDATA "countryFlags\eu.png"
fi RCDATA "countryFlags\fi.png"
fj RCDATA "countryFlags\fj.png"
fk RCDATA "countryFlags\fk.png"
fm RCDATA "countryFlags\fm.png"
fo RCDATA "countryFlags\fo.png"
fr RCDATA "countryFlags\fr.png"
ga RCDATA "countryFlags\ga.png"
gb RCDATA "countryFlags\gb.png"
gd RCDATA "countryFlags\gd.png"
ge RCDATA "countryFlags\ge.png"
gf RCDATA "countryFlags\gf.png"
gg RCDATA "countryFlags\gg.png"
gh RCDATA "countryFlags\gh.png"
gi RCDATA "countryFlags\gi.png"
gl RCDATA "countryFlags\gl.png"
gm RCDATA "countryFlags\gm.png"
gn RCDATA "countryFlags\gn.png"
gp RCDATA "countryFlags\gp.png"
gq RCDATA "countryFlags\gq.png"
gr RCDATA "countryFlags\gr.png"
gs RCDATA "countryFlags\gs.png"
gt RCDATA "countryFlags\gt.png"
gu RCDATA "countryFlags\gu.png"
gw RCDATA "countryFlags\gw.png"
gy RCDATA "countryFlags\gy.png"
hk RCDATA "countryFlags\hk.png"
hm RCDATA "countryFlags\hm.png"
hn RCDATA "countryFlags\hn.png"
hr RCDATA "countryFlags\hr.png"
ht RCDATA "countryFlags\ht.png"
hu RCDATA "countryFlags\hu.png"
id RCDATA "countryFlags\id.png"
ie RCDATA "countryFlags\ie.png"
il RCDATA "countryFlags\il.png"
im RCDATA "countryFlags\im.png"
in RCDATA "countryFlags\in.png"
io RCDATA "countryFlags\io.png"
iq RCDATA "countryFlags\iq.png"
ir RCDATA "countryFlags\ir.png"
is RCDATA "countryFlags\is.png"
it RCDATA "countryFlags\it.png"
je RCDATA "countryFlags\je.png"
jm RCDATA "countryFlags\jm.png"
jo RCDATA "countryFlags\jo.png"
jp RCDATA "countryFlags\jp.png"
ke RCDATA "countryFlags\ke.png"
kg RCDATA "countryFlags\kg.png"
kh RCDATA "countryFlags\kh.png"
ki RCDATA "countryFlags\ki.png"
km RCDATA "countryFlags\km.png"
kn RCDATA "countryFlags\kn.png"
kp RCDATA "countryFlags\kp.png"
kr RCDATA "countryFlags\kr.png"
kw RCDATA "countryFlags\kw.png"
ky RCDATA "countryFlags\ky.png"
kz RCDATA "countryFlags\kz.png"
la RCDATA "countryFlags\la.png"
lb RCDATA "countryFlags\lb.png"
lc RCDATA "countryFlags\lc.png"
li RCDATA "countryFlags\li.png"
lk RCDATA "countryFlags\lk.png"
lr RCDATA "countryFlags\lr.png"
ls RCDATA "countryFlags\ls.png"
lt RCDATA "countryFlags\lt.png"
lu RCDATA "countryFlags\lu.png"
lv RCDATA "countryFlags\lv.png"
ly RCDATA "countryFlags\ly.png"
ma RCDATA "countryFlags\ma.png"
mc RCDATA "countryFlags\mc.png"
md RCDATA "countryFlags\md.png"
me RCDATA "countryFlags\me.png"
mf RCDATA "countryFlags\mf.png"
mg RCDATA "countryFlags\mg.png"
mh RCDATA "countryFlags\mh.png"
mk RCDATA "countryFlags\mk.png"
ml RCDATA "countryFlags\ml.png"
mm RCDATA "countryFlags\mm.png"
mn RCDATA "countryFlags\mn.png"
mo RCDATA "countryFlags\mo.png"
mp RCDATA "countryFlags\mp.png"
mq RCDATA "countryFlags\mq.png"
mr RCDATA "countryFlags\mr.png"
ms RCDATA "countryFlags\ms.png"
mt RCDATA "countryFlags\mt.png"
mu RCDATA "countryFlags\mu.png"
mv RCDATA "countryFlags\mv.png"
mw RCDATA "countryFlags\mw.png"
mx RCDATA "countryFlags\mx.png"
my RCDATA "countryFlags\my.png"
mz RCDATA "countryFlags\mz.png"
na RCDATA "countryFlags\na.png"
nc RCDATA "countryFlags\nc.png"
ne RCDATA "countryFlags\ne.png"
nf RCDATA "countryFlags\nf.png"
ng RCDATA "countryFlags\ng.png"
ni RCDATA "countryFlags\ni.png"
nl RCDATA "countryFlags\nl.png"
no RCDATA "countryFlags\no.png"
np RCDATA "countryFlags\np.png"
nr RCDATA "countryFlags\nr.png"
nu RCDATA "countryFlags\nu.png"
nz RCDATA "countryFlags\nz.png"
om RCDATA "countryFlags\om.png"
pa RCDATA "countryFlags\pa.png"
pe RCDATA "countryFlags\pe.png"
pf RCDATA "countryFlags\pf.png"
pg RCDATA "countryFlags\pg.png"
ph RCDATA "countryFlags\ph.png"
pk RCDATA "countryFlags\pk.png"
pl RCDATA "countryFlags\pl.png"
pm RCDATA "countryFlags\pm.png"
pn RCDATA "countryFlags\pn.png"
pr RCDATA "countryFlags\pr.png"
ps RCDATA "countryFlags\ps.png"
pt RCDATA "countryFlags\pt.png"
pw RCDATA "countryFlags\pw.png"
py RCDATA "countryFlags\py.png"
qa RCDATA "countryFlags\qa.png"
re RCDATA "countryFlags\re.png"
ro RCDATA "countryFlags\ro.png"
rs RCDATA "countryFlags\rs.png"
ru RCDATA "countryFlags\ru.png"
rw RCDATA "countryFlags\rw.png"
sa RCDATA "countryFlags\sa.png"
sb RCDATA "countryFlags\sb.png"
sc RCDATA "countryFlags\sc.png"
sd RCDATA "countryFlags\sd.png"
se RCDATA "countryFlags\se.png"
sg RCDATA "countryFlags\sg.png"
sh RCDATA "countryFlags\sh.png"
si RCDATA "countryFlags\si.png"
sj RCDATA "countryFlags\sj.png"
sk RCDATA "countryFlags\sk.png"
sl RCDATA "countryFlags\sl.png"
sm RCDATA "countryFlags\sm.png"
sn RCDATA "countryFlags\sn.png"
so RCDATA "countryFlags\so.png"
sr RCDATA "countryFlags\sr.png"
ss RCDATA "countryFlags\ss.png"
st RCDATA "countryFlags\st.png"
sv RCDATA "countryFlags\sv.png"
sx RCDATA "countryFlags\sx.png"
sy RCDATA "countryFlags\sy.png"
sz RCDATA "countryFlags\sz.png"
tc RCDATA "countryFlags\tc.png"
td RCDATA "countryFlags\td.png"
tf RCDATA "countryFlags\tf.png"
tg RCDATA "countryFlags\tg.png"
th RCDATA "countryFlags\th.png"
tj RCDATA "countryFlags\tj.png"
tk RCDATA "countryFlags\tk.png"
tl RCDATA "countryFlags\tl.png"
tm RCDATA "countryFlags\tm.png"
tn RCDATA "countryFlags\tn.png"
to RCDATA "countryFlags\to.png"
tr RCDATA "countryFlags\tr.png"
tt RCDATA "countryFlags\tt.png"
tv RCDATA "countryFlags\tv.png"
tw RCDATA "countryFlags\tw.png"
tz RCDATA "countryFlags\tz.png"
ua RCDATA "countryFlags\ua.png"
ug RCDATA "countryFlags\ug.png"
um RCDATA "countryFlags\um.png"
us RCDATA "countryFlags\us.png"
uy RCDATA "countryFlags\uy.png"
uz RCDATA "countryFlags\uz.png"
va RCDATA "countryFlags\va.png"
vc RCDATA "countryFlags\vc.png"
ve RCDATA "countryFlags\ve.png"
vg RCDATA "countryFlags\vg.png"
vi RCDATA "countryFlags\vi.png"
vn RCDATA "countryFlags\vn.png"
vu RCDATA "countryFlags\vu.png"
wf RCDATA "countryFlags\wf.png"
ws RCDATA "countryFlags\ws.png"
ye RCDATA "countryFlags\ye.png"
yt RCDATA "countryFlags\yt.png"
za RCDATA "countryFlags\za.png"
zm RCDATA "countryFlags\zm.png"
zw RCDATA "countryFlags\zw.png"
zz RCDATA "countryFlags\zz.png"
_basque RCDATA "countryFlags\_basque.png"
_catalonia RCDATA "countryFlags\_catalonia.png"
_earth_pernefeldt RCDATA "countryFlags\_earth_pernefeldt.png"
_galicia RCDATA "countryFlags\_galicia.png"
_generic RCDATA "countryFlags\_generic.png"
_olympic RCDATA "countryFlags\_olympic.png"
_scotland RCDATA "countryFlags\_scotland.png"
_united_nations RCDATA "countryFlags\_united_nations.png"
_wales RCDATA "countryFlags\_wales.png"
